[Unit]
Description=BIRD Internet Routing Daemon
After=network.target

[Service]
EnvironmentFile=/etc/bird2/envvars
ExecStartPre=/usr/lib/bird2/prepare-environment
ExecStartPre=/usr/sbin/bird2 -p
ExecReload=/usr/sbin/bird2c configure
ExecStart=/usr/sbin/bird2 -f -u $BIRD_RUN_USER -g $BIRD_RUN_GROUP $BIRD_ARGS
Restart=on-abort

[Install]
WantedBy=multi-user.target
