Source: bird2
Section: net
Priority: extra
Build-Depends: debhelper (>= 9~),
               bison,
               autotools-dev,
               dh-systemd (>= 1.3) [linux-any] | base-files (<< 7.2ubuntu5~) [linux-any],
               dpkg-dev (>= 1.16.1.1~),
               flex,
               libncurses5-dev,
               libreadline-dev | libreadline6-dev | libreadline5-dev,
               m4,
               quilt
Maintainer: Vincent Bernat <bernat@debian.org>
Standards-Version: 3.9.6
Homepage: http://bird.network.cz/

Package: bird2
Architecture: any
Depends: adduser,
         ${misc:Depends},
         ${shlibs:Depends}
Description: Internet Routing Daemon
 BIRD is an Internet routing daemon with full support for all the major
 routing protocols. It allows redistribution between protocols with a
 powerful route filtering syntax and an easy-to-use configuration
 interface.
 .
 This package is for BIRD 2.x.
