#!/usr/bin/make -f
# -*- makefile -*-

%:
	dh $@ --with systemd

override_dh_auto_configure:
	dh_auto_configure -- \
	  --prefix=/usr --sysconfdir=/etc/bird2 --mandir=\$${prefix}/share/man \
	  --infodir=\$${prefix}/share/info --localstatedir=/var --with-runtimedir=/run/bird2 \
	  --enable-client --with-protocols=all

override_dh_systemd_start:
	dh_systemd_start --restart-after-upgrade

override_dh_install:
	dh_install
	mv debian/bird2/usr/sbin/bird debian/bird2/usr/sbin/bird2
	mv debian/bird2/usr/sbin/birdc debian/bird2/usr/sbin/bird2c
	mv debian/bird2/usr/sbin/birdcl debian/bird2/usr/sbin/bird2cl
